<ion-view title="Main Screen">
  <ion-content class="main-screen">
      <div class="topbar">
        <div class="notification">
            <!--<a ng-if="!notification.id" href="">
                <p>0</p>
            </a>-->
            <a ng-if="notification.id" href="https://www.google.com/maps/q={{notification.location.lat}},{{notification.location.lng}}">
                <p>1</p>
            </a>
        </div>
      </div>
      <div class="main-text-box">
        <p class="main-text">
            Freibier gefunden und bereit zu teilen?
        </p>
      </div>
      <a href="" ng-disabled="position.loaded" ng-click="enterReport()">
        <img class="btn" src="img/assets/button.png"/>
    </a>
      <div class="disclaimer-box">
        <p class="disclaimer">
            Achtung: Mit einem klick auf den Button lädst du alle User in der näheren Umgebung ein!
        </p>
      </div>
  </ion-content>
</ion-view>
