$light_grey: rgb(231, 220, 169);
$light_grey_opacity: rgba(231, 220, 169, 0.5);
$main_yellow: rgb(255, 197, 0);
$bright_white: rgb(255, 240, 188);
$middle_yellow: rgb(255, 215, 76);
$dark_olive: rgb(153, 147, 114);

$font_text: 'Century Gothic Regular';
$font_logo: 'Rockwell Regular';
